[user]
    email = anthonyfloresokc@gmail.com
    name = anthonyokc
    signingkey = /home/anthony/.ssh/github_ed25519.pub
[init]
    defaultBranch = main
[gpg]
    format = ssh
[commit]
    gpgsign = true
[pull]
    rebase = true
[alias]
   clone-for-worktrees = "!sh $HOME/scripts/git-clone-bare-for-worktrees.sh"
[core]
  excludesFile = ~/.gitignore
  pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
