[Desktop Entry]
Version=1.0
Name=Brave Browser (Custom)
Comment=Browse the Web
Exec=/home/anthony/scripts/brave_wsl_open.sh %u
Icon=brave-browser
Terminal=false
Type=Application
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/about;x-scheme-handler/unknown;

